@import url("https://fonts.googleapis.com/css2?family=Flow+Block&family=Flow+Rounded&family=Flow+Circular&family=Noto+Emoji&display=swap");

@container demo-text style(--demo-text: hidden) {
    body {
        --font-primary: Flow var(--demo-font-variant), var(--demo-font-emoji) Emoji, system-ui !important;
        --font-display: Flow var(--demo-font-variant), var(--demo-font-emoji) Emoji, system-ui !important;
        --font-headline: Flow var(--demo-font-variant), var(--demo-font-emoji) Emoji, system-ui !important;
        --font-code: Flow var(--demo-font-variant), var(--demo-font-emoji) Emoji, monospace !important;
        --font-clan-body: Flow var(--demo-font-variant), var(--demo-font-emoji) Emoji, system-ui !important;
        --font-clan-signature: Flow var(--demo-font-variant), var(--demo-font-emoji) Emoji, system-ui !important;
    }
}
