// Variant of Flow font
@property --demo-font-variant {
    syntax: "Circular | Rounded | Block";
    inherits: false;
    initial-value: Circular;
}

// Emoji font
@property --demo-font-emoji {
    syntax: "Noto | none";
    inherits: false;
    initial-value: Noto;
}

// Emergency legible font
:root {
    --demo-font-read: none;
    --demo-font-code-read: none;
}

// Show BetterDiscord elements?
// Default to visible unless user sets to hidden
@property --demo-betterdiscord {
    syntax: "visible | hidden";
    inherits: false;
    initial-value: visible;
}
// Show Replugged elements?
// Default to visible unless user sets to hidden
@property --demo-replugged {
    syntax: "visible | hidden";
    inherits: false;
    initial-value: visible;
}
// Show Vencord elements?
// Default to visible unless user sets to hidden
@property --demo-vencord {
    syntax: "visible | hidden";
    inherits: false;
    initial-value: visible;
}

// Border radius for emojis
@property --demo-emoji-radius {
    syntax: "<length>";
    inherits: true;
    initial-value: 4px;
}

// Opacity for emojis
@property --demo-emoji-opacity {
    syntax: "<number>";
    inherits: true;
    initial-value: 0.5;
}

// Hue for emojis, icons, badges, etc.
@property --demo-icon-hue {
    syntax: "<number>";
    inherits: true;
    initial-value: 240;
}

// Hue for attachments
@property --demo-image-hue {
    syntax: "<number>";
    inherits: true;
    initial-value: 270;
}

// Hue for server banners
@property --demo-banner-hue {
    syntax: "<number>";
    inherits: true;
    initial-value: 180;
}

// Hue for self avatars
@property --demo-self-hue {
    syntax: "<number>";
    inherits: true;
    initial-value: 300;
}

// Not exposed to the user
// Red as debug
@property --demo-gradient-color {
    syntax: "<color>";
    inherits: true;
    initial-value: red;
}
