@use "../../funcs" as func;
@use "../../mixins" as mixin;

// User avatar location

$_locations: (
    // In chat message
    ".messageListItem_d5deea",
    // In active threads
    ".container_acb8b3",
    // In DM list
    ".container_b15955",
    // In DM profile mutual friends
    ".listRow_e4be58",
    // In Friends list
    ".peopleListItem_d51464",
    // In Active Now list
    ".itemCard_f02fcf",
    // In search suggestions
    ".option_b0286e",
    // In search results
    ".container_ddc613",
    // In quick switcher modal
    ".result_f14193",
    // In invite to server modal
    ".inviteRow_cedfaf",
    // In "Select Friends" popout
    ".friendWrapper_ebf869",
    // In avatar decoration shop
    ".shopCard_c23530",
    // In pinned messages
    ".messageGroupWrapper_ac90a2",
    // In inbox mentions
    ".container_ddb5b4",
    // In inbox unreads
    ".messageContainer_c06487",
    // In memberslist,
    ".member_a31c43",
    // In memberslist recent activity
    ".container_c64476",
    // In unjoined VC current users panels
    ".tile_f2bd71"
);
:is(#{func.unquoteSelectors($_locations)}) {
    @include mixin.genColors;
}

$_locations: (
    // In "<number> in voice" bubble
    ".avatarSize_e52fc2",
    // In VC video - small row
    ".tileSizer_d737b4"
);
:is(#{func.unquoteSelectors($_locations)}) {
    @include mixin.genColors(4);
}

$_locations: (
    // In typing indicator
    ".base_d7ebeb .text_d7ebeb strong",
    // In settings nitro tab
    ".iconContainer_ced1ae .wrapper_c51b4e"
);
:is(#{func.unquoteSelectors($_locations)}) {
    @include mixin.genColors(3);
}

$_locations: (
    // In Active Now actions popover
    ".memberItem_b09fe8",
    // In DM title
    ".upperContainer_e44302",
    // In DM first message header
    ".container_c2668b",
    // In VC status
    ".statusIcon_d201be",
    // In VC video - large video
    ".videoFrame_f8a4f3"
);
:is(#{func.unquoteSelectors($_locations)}) {
    @include mixin.genOneColor(var(--demo-icon-hue));
}

$_locations: (
    // In user panel - self
    ".panels_a4d4d9 .avatar_c51b4e",
    // In settings - self
    ".accountProfileCard_b69b77",
    ".avatarUploader_ab876d",
    ".profile_f7ea1b",
    ".preview_a614a7",
    ".preview_c31d36"
);
:is(#{func.unquoteSelectors($_locations)}) {
    @include mixin.genOneColor(var(--demo-self-hue));
}
