@use "../../vars" as *;
@use "../../mixins" as *;

// User avatar mixed type and location

// In profile popout, profile modal
:is(.avatarHoverTarget__9b4a9, .avatar__445f3) {
    // Unthemed
    .userProfileOuterUnthemed__9741c & {
        @include genOneColor(var(--demo-icon-hue));
    }
    // Themed
    .userProfileOuterThemed_a425f3 & {
        .avatar__991e2:where(:not(.avatarDecoration_cf681a .avatar__991e2)) {
            content: linear-gradient(var(--profile-gradient-primary-color), var(--profile-gradient-secondary-color));
        }
    }
}

// In VC server tooltip
:is(.avatarContainerMasked_ed6212, .avatarContainer__37747) {
    @include genColors(6);
    .avatar__777a6 {
        content: $gradient;
    }
}

// In channelslist in VC
.draggable__68384 {
    @include genColors(7);
    .userAvatar_f45224 {
        background: $gradient !important;
    }
}

// In user panel current VC
.avatarContainer__9688b {
    @include genColors(8);
    .avatar_c9fdd4 {
        background: $gradient !important;
    }
}
