@use "../../funcs" as func;
@use "../../vars" as var;

// Avatar types

$_avatars: (
    // Avatar with status mask
    ".avatar_c51b4e:where(:not(.avatarDecoration_c51b4e .avatar_c51b4e))",
    // Chat avatar
    ".avatar_f9f2ca",
    // Reply avatar
    ".threadMessageAccessoryAvatar_f9f2ca",
    // Reply avatar
    ".replyAvatar_f9f2ca",
    // Reply avatar
    ".executedCommandAvatar_f9f2ca",
    // Inbox unread avatar
    ".dmIcon_f3978e",
    // Search suggestions avatar
    ".displayAvatar_b0286e",
    // Embed author avatar
    ".embedAuthorIcon_ad0b71"
);
:is(#{func.unquoteSelectors($_avatars)}) {
    content: var.$gradient;
}

// Profile settings avatar
.avatarUploaderInner_ab876d {
    background: var.$gradient !important;
}
