@use "../funcs" as func;
@use "../vars" as var;
@use "../mixins" as mixin;

// Emoji picker

// Server icon
.guildIcon_ed1ab4 {
    content: var.$gradient;
}

// Emoji, emoji, sticker
.emoji__92b46,
.image__43623,
.stickerAsset_ab864f {
    content: var.$gradient;
    @include mixin.addRoundedCorners;
    @include mixin.addTransparency;
    object-fit: unset;
}

$_locations: (
    // In server list
    ".listItems__49027 > div",
    // In emoji grid
    ".emojiListRow__6d732 > li",
    // In sticker grid
    ".row_b3c4f2"
);
:is(#{func.unquoteSelectors($_locations)}) {
    @include mixin.genColors;
}

// In bottom bar current emoji info
.inspector__80c84 {
    @include mixin.genOneColor(var(--demo-icon-hue));
}
