@use "../vars" as *;
@use "../mixins" as *;

// Emoji picker

// Server icon
.guildIcon_ed1ab4 {
    content: $gradient;
}

// Emoji, emoji, sticker
.emoji__92b46,
.image__43623,
.stickerAsset_ab864f {
    content: $gradient;
    @include addRoundedCorners;
    @include addTransparency;
    object-fit: unset;
}

// In server list
.listItems__49027 > div, 
// In emoji grid
.emojiListRow__6d732 > li,
// In sticker grid
.row_b3c4f2 {
    @include genColors;
}

// In bottom bar current emoji info
.inspector__80c84 {
    @include genOneColor(var(--demo-icon-hue));
}
