@use "../funcs" as func;
@use "../vars" as var;
@use "../mixins" as mixin;

// Emoji picker

// Server icon
.guildIcon_bfabc4 {
    content: var.$gradient;
}

// Emoji, emoji, sticker
.emoji_f48b14,
.image_b000dd,
.stickerAsset_cb3343 {
    content: var.$gradient;
    @include mixin.addRoundedCorners;
    @include mixin.addTransparency;
    object-fit: unset;
}

$_locations: (
    // In server list
    ".listItems_dcade6 > div",
    // In emoji grid
    ".emojiListRow_fbfedd > li",
    // In sticker grid
    ".row_a708c4"
);
:is(#{func.unquoteSelectors($_locations)}) {
    @include mixin.genColors;
}

// In bottom bar current emoji info
.inspector_c3120f {
    @include mixin.genOneColor(var(--demo-icon-hue));
}
