@use "../vars" as var;
@use "../mixins" as mixin;

// Attachment images

// Images and videos in chat
.loadingOverlay__35a04 {
    @include mixin.genOneColor(var(--demo-image-hue));
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: var.$gradient;
        position: absolute;
        z-index: 1;
    }
}

// Before upload attachment preview
.upload_df1eaf {
    @include mixin.genColors(4);
    .mediaContainer_f847a3 {
        background: var.$gradient;
        height: 100%;
        .media_f847a3 {
            display: none;
        }
    }
}

// Edit attachment details modal
.expandable_f82cc7 .icon_f82cc7 {
    @include mixin.genOneColor(var(--demo-image-hue));
    content: var.$gradient;
}
