@use "../vars" as var;
@use "../mixins" as mixin;

// Attachment images

// Images and videos in chat
.loadingOverlay__35a04 {
    @include mixin.genOneColor(var(--demo-image-hue));
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: var.$gradient;
        position: absolute;
        z-index: 1;
    }
}

// Before upload attachment preview
.upload_c98ecb {
    @include mixin.genColors(4);
    .mediaContainer_e3d4b8 {
        background: var.$gradient;
        height: 100%;
        .media__47d7e {
            display: none;
        }
    }
}

// Edit attachment details modal
.expandable__6a921 .icon__4bc4d {
    @include mixin.genOneColor(var(--demo-image-hue));
    content: var.$gradient;
}
