@use "../vars" as var;
@use "../mixins" as mixin;

// Misc content

// Profile banner
.banner_c3e427 {
    background-image: none !important;
}

// Server banner
.bannerImg_fd6364 {
    @include mixin.genOneColor(var(--demo-banner-hue));
    content: var.$gradient;
}

// Emoji, role icon, clan badge
.emoji,
.roleIcon_d5100b,
.badge_d5cb59 {
    @include mixin.genOneColor(var(--demo-icon-hue));
    content: var.$gradient;
    @include mixin.addRoundedCorners;
    @include mixin.addTransparency;
    aspect-ratio: 1 / 1;
    object-fit: unset;
}

// Activity icon
.assetsLargeImage_d5089b,
.assetsSmallImage_d5089b,
.largeImage_cd82a7,
.smallImage_cd82a7,
.gameIcon_d5089b,
.headerIcon_cd82a7,
.multipleIconWrapper_cd82a7 {
    @include mixin.genOneColor(var(--demo-icon-hue));
    content: var.$gradient;
}

// Authorised apps
.authedApp_f0135d {
    @include mixin.genColors;
    .appAvatar_f0135d {
        content: var.$gradient;
    }
}
