@use "../vars" as var;
@use "../mixins" as mixin;

// Misc content

// Profile banner
.banner__6d414 {
    background-image: none !important;
}

// Server banner
.bannerImg_fe5c1b {
    @include mixin.genOneColor(var(--demo-banner-hue));
    content: var.$gradient;
}

// Emoji, role icon, clan badge
.emoji,
.roleIcon__92480,
.badge_d12073 {
    @include mixin.genOneColor(var(--demo-icon-hue));
    content: var.$gradient;
    @include mixin.addRoundedCorners;
    @include mixin.addTransparency;
    aspect-ratio: 1 / 1;
    object-fit: unset;
}

// Activity icon
.assetsLargeImage__57902,
.assetsSmallImage__4c2f1,
.largeImage_afc95a,
.smallImage__5c837,
.gameIcon_f19d1f,
.headerIcon__8b290,
.multipleIconWrapper__8dd58 {
    @include mixin.genOneColor(var(--demo-icon-hue));
    content: var.$gradient;
}

// Authorised apps
.authedApp__71a52 {
    @include mixin.genColors;
    .appAvatar__1fa87 {
        content: var.$gradient;
    }
}
