@use "../funcs" as func;
@use "../vars" as var;
@use "../mixins" as mixin;

// Server icon

// Full size server and active DM user
.listItem_c96c45:not(.tutorialContainer_f9623d .listItem_c96c45) {
    @include mixin.genColors;
    .icon__11cf1 {
        content: var.$gradient;
    }
}

// Mini server icons
.icon_f11207 {
    background: var.$gradient !important;
}

// In inbox unreads
.recentMentionsPopout_ddb5b4 .scroller_f1c3d9 > [style="opacity: 1; height: auto;"] {
    @include mixin.genColors;
}

// In collapsed folder
.guildIcon_bc7085 {
    @include mixin.genColors(4);
}

$_locations: (
    // In profile popout mutual servers
    ".avatar_ccc074",
    ".memberSince__2eba7",
    // In settings boost tab
    ".guildContainer_e0d799"
);
:is(#{func.unquoteSelectors($_locations)}) {
    @include mixin.genColors(3);
}

// In profile popout server-specific about me
.aboutMeGuildIcon_d6668b {
    @include mixin.genOneColor(var(--demo-icon-hue));
}
