@use "../vars" as *;
@use "../mixins" as *;

// Server icon

// Full size server and active DM user
.listItem__48528:not(.tutorialContainer_b06ae6 .listItem__48528) {
    @include genColors;
    .icon__11cf1 {
        content: $gradient;
    }
}

// Mini server icons
.icon__94164 {
    background: $gradient !important;
}

// In inbox unreads
.recentMentionsPopout__40c54 .scroller_e3927b > [style="opacity: 1; height: auto;"] {
    @include genColors;
}

// In collapsed folder
.guildIcon_b6bfa7 {
    @include genColors(4);
}

// In profile popout mutual servers
.avatar__611fe,
.memberSince__2eba7,
// In settings boost tab
.guildContainer_fef06f {
    @include genColors(3);
}

// In profile popout server-specific about me
.aboutMeGuildIcon_b141fb {
    @include genOneColor(var(--demo-icon-hue));
}
