@use "../funcs" as func;
@use "../vars" as var;
@use "../mixins" as mixin;

// Server icon

// Full size server and active DM user
.listItem__48528:not(.tutorialContainer_b06ae6 .listItem__48528) {
    @include mixin.genColors;
    .icon__11cf1 {
        content: var.$gradient;
    }
}

// Mini server icons
.icon__94164 {
    background: var.$gradient !important;
}

// In inbox unreads
.recentMentionsPopout__40c54 .scroller_e3927b > [style="opacity: 1; height: auto;"] {
    @include mixin.genColors;
}

// In collapsed folder
.guildIcon_b6bfa7 {
    @include mixin.genColors(4);
}

$_locations: (
    // In profile popout mutual servers
    ".avatar__611fe",
    ".memberSince__2eba7",
    // In settings boost tab
    ".guildContainer_fef06f"
);
:is(#{func.unquoteSelectors($_locations)}) {
    @include mixin.genColors(3);
}

// In profile popout server-specific about me
.aboutMeGuildIcon_b141fb {
    @include mixin.genOneColor(var(--demo-icon-hue));
}
