// Hide Vencord elements if user sets --demo-vencord to hidden

@container demo-clientmod style(--demo-clientmod: hidden) {
    // Hide Vencord Toolbox
    .vc-toolbox-btn {
        display: none;
    }

    // Hide Vencord chat buttons
    .vc-chatbar-button {
        display: none;
    }

    // Hide "Disable Game Activity" button
    .horizontal_bba380 {
        [aria-label="Disable Game Activity"] {
            display: none;
        }
    }

    // Hide "Translate" button
    [aria-label="Translate"] {
        display: none;
    }

    // Hide Vencord profile badges
    .profileBadges_f89da9 .anchor_af404b:has([src*="badges.vencord"]) {
        display: none;
    }

    // Hide Vencord settings tabs
    .header_a0:has(+ .item_a0[class^="vc-"]),
    .item_a0[class^="vc-"],
    .item_a0[class^="vc-"] + .separator_a0 {
        display: none;
    }
}
